

.titulo {
  text-decoration: none;
  font-family: Open Sans;
  min-height: 80px;
  font-size: 40px;
  color: black;
  /*text-shadow: 0 0 10px #6164fa, 0 0 20px #6164fa;*/
}

.ima {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
