<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2>Fundamentos de la actividad</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fundamentos de la actividad</th>
                        <th scope="col">Evidencias para la evaluación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Tutoría:</b>
                            La tutoría es un programa que permite la mejora del
                            proceso de aprendizaje por los estudiantes, y de ser
                            posible apoyarlos en los ámbitos psicológicos,
                            psicopedagógico, familiar y social y económico.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento académico correspondiente.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Proyectos de Investigación:</b>
                            La investigación forma parte del proceso de
                            formación integral ya que permite que los
                            estudiantes desarrollen sus habilidades creativas,
                            de invención y generación de ideas, así como, la
                            expresión de las mismas en diversos foros.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento académico correspondiente.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Eventos académicos relacionados con la
                                carrera:</b
                            >
                            La participación en los diversos eventos académicos
                            permite a los estudiantes compartir experiencias y
                            autoevaluarse académicamente para enriquecer su
                            preparación.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento académico correspondiente.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Actividades extraescolares:</b>
                            Fomentar y promover la participación de los
                            estudiantes en actividades de educación física,
                            deporte, recreación, cultura y actividades cívicas
                            para coadyuvar en el desarrollo integral del
                            estudiante.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento de actividades extraescolares.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Eventos académicos relacionados con la
                                carrera:</b
                            >
                            La participación en los diversos eventos académicos
                            permite a los estudiantes compartir experiencias y
                            autoevaluarse académicamente para enriquecer su
                            preparación.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento académico correspondiente.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Construcción de prototipos y desarrollo
                                tecnológico: </b
                            >Al construir prototipos o realizar desarrollos
                            tecnológicos, el estudiante aplica sus conocimientos
                            y creatividad en la solución de problemas de
                            carácter real y tangible.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento académico.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Participación en ediciones:</b> Al participar en
                            ediciones el estudiante desarrolla las competencias
                            de comunicación oral y escrita para potenciar el
                            saber transferir sus aprendizajes, ideas
                            pensamientos e ideologías.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento académico correspondiente.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Programas de apoyo a la formación profesional
                                (emprendurismo, proactividad laboral, fomento a
                                la lectura, conservación del medio ambiente,
                                entre otros):</b
                            >
                            La generación de valores y procesos que permitan
                            fortalecer la formación profesional de las
                            competencias del estudiante.
                        </td>
                        <td>
                            Constancia de acreditación expedida por el
                            departamento encargado de la operación del programa.
                        </td>
                    </tr>
                </tbody>
            </table>
            <a routerLink="/registrar-evaluacion" class="btn btn-primary"
                >Siguiente</a
            >
        </div>
    </div>
</div>
