h3 {
  font-family: Open Sans;
}

form input {
  width: 40px;
}

form label {
  width: 40px;
}

/* .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
} */

.uno {
  margin-right: 30px;
}

.letra {
  font-size: 14px;
}

.conta {
  height: 105px;
}
