<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img
                src="assets/tec3.jpg"
                alt="tec3"
                class="img-fluid img-thumbnail border-rounded border-dark"
            />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img
                src="assets/tec4.jpg"
                alt="tec4"
                class="img-fluid img-thumbnail border-rounded border-dark"
            />
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-12">
            <h4>Detalles del Sistemas e Instrucciones</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col-md-3">Numero</th>
                        <th scope="col-md-9">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            Anotar el nombre del estudiante que cursa la
                            actividad cultural y/o deportiva
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            Anotar el nombre de la actividad complementaria la
                            cual es autorizada por el director(a)del instituto
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            Anotar la fecha del inicio y termino de la actividad
                            cultural y/o Deportiva
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            Selecciona con una “X” el nivel de desempeño
                            alcanzado por el estudiante , por cada una de los 7
                            criterios a evaluar establecidos en el formato de
                            evaluación , considerando que cada nivel de
                            desempeño de criterio tiene una equivalencia
                            numérica de acuerdo a la tabla1: TABLA1.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            Anotar todas las reflexiones que el (la) profesor(a)
                            considere importante, para que el estudiante realice
                            mejora en el alcance de la competencia de la
                            actividad Cultural y/o Deportiva
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
